
#reset{
	display: none;
}

#result{
	display: none;
}


.jumbotron{
  background-color: red;
  padding-right: 5em;
  padding-left: 5em;
  color: #ffa64d;

}
h1{
  text-align:right;
}
h2{
  color:red;
  text-align:right;
  padding-right: 3em;
}
h3{
  color:red;
  text-align:right;
  padding-right: 6em;
}
h4{
  color:red;
  text-align:right;
  padding-right: 2em;
}
img{

  border-radius: 2em;


}
body{
  background-color:#ffa64d;
}
